/* Style the header with a grey background and some padding */
/*
.header {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.0);
    padding: 20px 20px;
    height: 70px;
}
body{
    font-size: 100%;
}



@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.fa-4x {
  font-size: 3.6em;
}

.search {
    overflow: hidden;
    background-color: black;
    padding: 20px 30px;
    height: 50px;
}

.free {
    overflow: hidden;
    background-color: rgba(221, 221, 221, 1.0);
    padding: 5px 20px;
    height: auto;
}

.oneshipping {
    background-color: rgba(255, 255, 255, 0.0);
    height: auto;
    width: auto;
    margin: 0;
    font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
    font-size: 13.0px;
    color: rgba(194, 166, 124, 1.0);
    letter-spacing: 2.0px;
}

.onlypay {
    background-color: rgba(255, 255, 255, 0.0);
    height: auto;
    width: auto;
    margin: 0;
    font-family: 'AppleSystemUIFont', Helvetica, Arial, serif;
    font-size: 13.0px;
    color: rgba(52, 52, 52, 1.0);
    letter-spacing: .19px;
    line-height: 15.0px;
}

.heromask {
    background-color: rgba(213, 226, 97, 1.0);
    background-position: center top;
    height: 490px;
    width: 92%;
    margin: auto;
    overflow: hidden;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    text-align: center;
    vertical-align: top;
    position: relative;
    font-family: Polaris, sans-serif;
}



.heromask .banner-text {
    font-family: Polaris-Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50.0px;
    color: rgba(255, 255, 255, 1.0);
    height: auto;
    width: auto;
    margin: 0;
    padding-top: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;

}
.heromask .banner-text .banner-logo {
    fill: white
}


.heromask .banner-text1 {
    font-family: Polaris-Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50.0px;
    color: rgba(255, 255, 255, 1.0);
    height: auto;
    width: auto;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.heromask .banner-subtext {
    font-family: Polaris, sans-serif;
    font-size: 15.0px;
    color: rgba(255, 255, 255, 1.0);
    height: auto;
    width: auto;
    margin: 0;
    text-align: center;
    letter-spacing: -.1px;
    line-height: 27.0px;
}

.shot24052open {
    background-color: rgba(255, 255, 255, 0.0);
    top: -38px;
    height: auto;
    max-width: 100%;
    position: absolute;
    margin: 0;
    float: right;
    margin-left: 410px;
}

.shot02009open {
    background-color: rgba(255, 255, 255, 0.0);
    top: -460px;
    height: 704px;
    width: 329px;
    position: relative;
    margin: 0;
    left: 130px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.intro {
    overflow: hidden;
    height: auto;
    position: relative;
    margin: auto;
    font-family: Polaris-Bold, sans-serif;
    font-size: 24px;
    font-weight: Bold;
    color: rgba(34, 34, 34, 1.0);
    line-height: 35.0px;
    vertical-align: middle;
}

.howitworks {
    height: auto;
    width: auto;
    position: relative;
    margin: 0;
    font-family: Polaris-Bold, sans-serif;
    font-size: 36.0px;
    font-weight: 700;
    color: rgba(34, 34, 34, 1.0);
    vertical-align: middle;
    text-align: center;
}

.font-p-bold {
    font-family: Polaris-Bold, sans-serif;
    font-weight: bold;
}

.steps {
    height: auto;
    width: 300px;
    position: relative;
    margin: auto;
    font-family: Polaris-Bold, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: center;
    line-height: 37.0px;
    vertical-align: middle;
}

.oval {
    height: 103px;
    width: 103px;
    position: relative;
    margin: auto;
    vertical-align: middle;
    margin-top: 60px;
    text-align: center;
    display: block;
}

.substeps1 {
    height: auto;
    width: 90%;
    position: relative;
    margin: 0;
    font-family: Polaris, sans-serif;
    font-size: 15.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: center;
    line-height: 27.0px;
    vertical-align: middle;
}

.substeps2 {
    height: auto;
    width: 90%;
    position: relative;
    margin: 0;
    font-family: Polaris, sans-serif;
    font-size: 15.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: center;
    line-height: 27.0px;
    vertical-align: middle;
}

.substeps3 {
    height: auto;
    width: 85%;
    position: relative;
    margin: 0;
    font-family: Polaris, sans-serif;
    font-size: 15.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: center;
    line-height: 27.0px;
    vertical-align: middle;
}

.mask {
    background-color: rgba(225, 202, 172, 1.0);
    height: 605px;
    width: 96%;
    position: relative;
    
    overflow: hidden;
    
}

.shot11004open {
    background-color: rgba(255, 255, 255, 0.0);
    top: -24px;
    height: 1709px;
    width: 538px;
    left: 48px;
    position: relative;
    margin: auto;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    vertical-align: middle;
}

.whatsin {
    background-color: rgba(255, 255, 255, 0.0);
    top: 376px;
    height: auto;
    width: 100%;
    position: absolute;
    margin: auto;
    font-family: Polaris-Bold, sans-serif;
    font-size: 26.0px;
    color: rgba(255, 255, 255, 1.0);
    text-align: center;
    vertical-align: middle;
}

.getnewstuff {
    background-color: rgba(255, 255, 255, 0.0);
    height: auto;
    width: auto;
    position: relative;
    margin: auto;
    font-family: Polaris, sans-serif;
    font-size: 24.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: center;
    line-height: 37.0px;
    vertical-align: middle;
}

.welcome {
    background-color: rgba(255, 255, 255, 0.0);
    height: auto;
    width: 100%;
    position: relative;
    margin: auto;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: Polaris-Bold, sans-serif;
    font-size: 36.0px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1.0);
    text-align: center;
    vertical-align: middle;
}

.currently {
    background-color: rgba(255, 255, 255, 0.0);
    height: auto;
    width: 90%;
    position: relative;
    margin: auto;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: Polaris, sans-serif;
    font-size: 15.0px;
    color: rgba(52, 52, 52, 1.0);
    text-align: left;
    line-height: 27.0px;
}

.brands {
    height: auto;
    width: auto;
    position: relative;
    margin: auto;
    left: 50px;
    font-family: Polaris, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 1.0);
    text-align: left;
    line-height: 37.0px;
}

.footer {
    overflow: hidden;
    background-color: #222;
    padding: 20px 30px;
    
}

.text-center {
    display: inline-block;
}

.btn-black {
    color: white;
    background-color: black
}

.form-horizontal {
    background-color: #F5F5F5;
    height: auto;
    width: 800px;
    margin: auto;
    overflow: hidden;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    vertical-align: top;
    position: relative;
}

.form-horizontal .instruction {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.text-form {
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    transition: background-color 0.5s ease;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #acacac;
}

.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.btn-gray {
    color: white;
    font-size: 15px;
    background-color: #9B9B9B;
    stroke: #9B9B9B;
    fill: #9B9B9B;
    font-weight: bold;
    font-family: Polaris, sans-serif;
}

.imgInfo {
    font-size: 15px;
    font-family: Polaris, sans-serif;
    font-weight: 400px;
}

.success-container {
    background-color: #F9F9F9;
    width: 90%;
    margin: auto;
    overflow: hidden;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    vertical-align: top;
    position: relative;
    margin-top: -50px;
    padding-top: 30px;
    padding: 30px;
}

.s-images {
    width: 180px;
    height: 268px;
    padding-left: 4px;
    padding-right: 4px;
}

.s-imgInfo {
    font-size: 15px;
    font-family: Polaris, sans-serif;
    font-weight: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.tab {
    float: left;
    width: 100%;
    height: 300px;
    margin: auto;
}


.tab button {
   cursor: pointer;
   transition: 0.3s;
}

.tablinks {
    margin: auto;
    color: #4a4a4a;
    background-color: #D5E261;
    text-align: left;
    height: 20%;
    width: 100%;
    padding: 22px 16px;
    margin-bottom: 15px;
    border: none;
}

.info-tab {
    font-family: POLARIS, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}




.tab button:hover {
    background-color: black;
}




.tab button.active {
    background-color: black;
}




.tabcontent {
    padding: 12px 12px;
    border: none;
    width: 100%;
    height: 1000px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.subtabcontent {
    height: auto;
}

.collapse-button {
    border: none;
    width: 100%;
    font-family: POLARIS, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: black;
    background-color: #dfe4ea;
    text-align: left;
    letter-spacing: 0px;
    height: 38px;
    margin-bottom: 10px;
}

.top-text {
    font-family: POLARIS, sans-serif;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.main-text {
    width: 88%;
}

.sub-main-text {
    width: 88%;
    padding-bottom: 10px;
}

.img-container {
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90px;
    width: 110px;
    margin: 0 0 10px 0;
}

span.messages {
    font-size: 0.8rem;
    color: #E91E63;
}

.t-c-b {
    color: black;
}*/