.joao1-style{
    display: none;
}

.footer {
    font-family: Polaris, sans-serif;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.footer {
    overflow: hidden;
    background-color: #222;
    padding: 20px 30px;
    padding-right: 30px;
    padding-left: 30px;
    height: 204px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 720px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.pb30 {
    padding-bottom: 30px;
}
.baseline {
    float: left;
    position: relative;
    padding-right: 1%;
}
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.pt10 {
    padding-top: 10px;
}

a.primary {
    transition: opacity .15s;
}
.color-white {
    color: #fff;
}
.no-underline {
    text-decoration: none !important;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.pr20 {
    padding-right: 20px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.footer span {
    font-size: 13px;
}
.discover-app-text {
    display: inline-block;
    padding-top: 5px;
    position: absolute;
}

.pl10 {
    padding-left: 10px;
}

.ChangeCountry_Flag {
    margin: -6px 0;
}

.countryregion {
    display: inline-block;
    position: absolute;
}

.inlineBlock {
    display: inline-block;
}
.footer ul {
    list-style: none;
    padding-left: 0px;
    font-size: 13px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul.list-regular li {
    margin-bottom: 6px;
}