.joao1-style {
    background: url(https://secondlife.farfetch.com/img/banners/caseid-top2-new.jpg);
}

.joao2-style {
    font-family: Polaris-Bold, sans-serif;
    font-size: 24px;
    margin-top: 60px;
    width: 94%;
}

.joao3-style {
    font-family: Polaris, sans-serif;
    font-size: 15px;
}

.joao4-style {
    max-height: 711.633px;
    overflow: hidden;
    min-height: 116px;
}

.joao5-style {
    max-height: 693.633px;
    overflow-y: auto;
    min-height: 98px;
}

.joao6-style {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: Polaris, sans-serif;
    color: #222222;
}

body {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div.heromask {
    background-size: cover !important;
    width: 100% !important;
}

div.heromask {
    background-position: center 45% !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
}

div.heromask {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center 42% !important;
}

.heromask {
    background-position: center top !important;
    background-size: 100% !important;
}

.heromask {
    background-color: rgba(213, 226, 97, 1.0);
    background-position: center top;
    height: 490px;
    width: 92%;
    margin: auto;
    overflow: hidden;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    text-align: center;
    vertical-align: top;
    position: relative;
    font-family: Polaris, sans-serif;
}

.heromask>.banner-text {
    font-size: 2.5em;
}

.heromask .banner-text {
    font-family: Polaris-Bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50.0px;
    color: rgba(255, 255, 255, 1.0);
    height: auto;
    width: auto;
    margin: 0;
    padding-top: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

#ff-sell-form-x22 {
    padding: 0 15px !important;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-horizontal {
    top: -20px;
}

.form-horizontal {
    width: auto;
}

.form-horizontal {
    margin-top: -180px;
    font-size: 15px;
    background-color: #F9F9F9;
}

.form-horizontal {
    background-color: #F5F5F5;
    height: auto;
    width: 800px;
    margin: auto;
    margin-top: auto;
    overflow: hidden;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    vertical-align: top;
    position: relative;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.form-horizontal .col-lg-12 {
    padding: 0 30px !important;
}

.form-horizontal .col-lg-12 {
    padding-left: 60px;
    padding-right: 60px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.center {
    display: block;
    text-align: -webkit-center;
}

.form-horizontal .instruction {
    width: 100% !important;
    margin-top: 60px;
}

.form-horizontal .instruction {
    width: 90%;
    margin: auto;
    margin-top: auto;
    margin-top: 50px;
}

#userForm {
    padding: 0 30px;
}

#userForm {
    padding: 0 60px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.ff-section {
    margin-bottom: 48px;
}

.ff-title {
    margin-bottom: 24px;
}

.polar-bold {
    font-family: 'Polaris-Bold' !important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-horizontal .form-control {
    font-size: 15px;
    background-color: #FFFFFF;
    color: #222222;
}

.text-form {
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    transition: background-color 0.5s ease;
}

.p-2 {
    padding: .5rem !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

span.messages {
    font-size: 0.8rem;
    color: #E91E63;
}

:not(.input-group)>.bootstrap-select.form-control:not([class*="col-"]) {
    width: 100%;
}

.form-horizontal .form-control {
    font-size: 15px;
    background-color: #FFFFFF;
    color: #222222;
}

.form-group .bootstrap-select, .form-horizontal .bootstrap-select, .form-inline .bootstrap-select {
    margin-bottom: 0;
}

.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*="col-"] {
    float: none;
    display: inline-block;
    margin-left: 0;
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
    height: auto;
}

.text-form {
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    transition: background-color 0.5s ease;
}

.bootstrap-select {
    width: 100px;
    vertical-align: middle;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.bootstrap-select>select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: .5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
    z-index: 0 !important;
}

.form-horizontal .form-control .btn {
    font-size: 15px;
    background-color: #FFFFFF;
}

.bootstrap-select button.btn {
    width: 100% !important;
}

.ff-country .bootstrap-select button {
    background: #fff;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    width: 100% !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    height: 38px;
}

.bootstrap-select>.dropdown-toggle {
    position: relative;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn {
    width: 250px !important;
    height: 45px;
    font-size: 15px;
    padding-top: 10px;
}

.btn {
    width: 250px;
    height: 45px;
    font-size: 15px;
    padding-top: 10px;
}

.dropdown-toggle {
    white-space: nowrap;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

[type="button"], [type="reset"], [type="submit"], button {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.bootstrap-select .dropdown-toggle .filter-option {
    position: static;
    top: 0;
    left: 0;
    float: left;
    height: 100%;
    width: 100%;
    text-align: left;
    overflow: hidden;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    overflow: hidden;
}

.spacing-options {
    margin-left: 10px;
    margin-right: 10px;
}